/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--main-color);
  background-image:
    repeating-linear-gradient(to right, transparent 2px 4px, var(--gradient-color) 4px 6px),
    repeating-linear-gradient(transparent 2px 4px, var(--gradient-color) 4px 6px),
    linear-gradient(var(--gradient-light-color) 0.01%, var(--gradient-dark-color) 100%);
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 100px;
  padding-block-end: clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  border: 2px solid var(--main-color);
  width: var(--page-content-width);
  margin-block-end: 100px;
}

.logo-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.logo-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 23px;
  text-transform: uppercase;
}

.theme-menu__item {
  height: min-content;
  margin-inline-start: 18px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 12px;
}

.theme-menu__button {
  font-size: 14px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:disabled {
  opacity: var(--active-button-opacity);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position:absolute;
  top: 0;
  left: 0;
  transform: translateX(calc(clamp(1.1875rem, 1.1655rem + 0.0939vw, 1.25rem) * -1));
  animation: menu-animation 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover {
  opacity: var(--active-button-opacity);
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: transparent;
}

.theme-menu__button:focus-visible {
  opacity: var(--active-button-opacity);
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 18px;
}

.post {
  display: grid;
  background-color: var(--background-color);
  width: var(--page-content-width);
}

.post-title {
  font-variation-settings: 'wght' var(--accent-font-weight);
  font-size: 18px;
  padding: 5px 10px;
  border-inline: 2px solid var(--main-color);
  border-block-start: 2px solid var(--main-color);
}

.post-img-container {
  position: relative;
  width: var(--page-content-width);
  height: var(--page-content-width);
  border: 2px solid var(--main-color);
}

.post-img {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.less-saturation-filter {
  filter: saturate(0.2);
}

.blur-filter {
  filter: blur(10px);
}

.bright-filter {
  filter: brightness(50%);
}

.multiple-filter {
  filter: sepia(60%) blur(5px) saturate(0.8) brightness(110%);
}

.hue-filter {
  filter: hue-rotate(90deg);
}

.grayscale-filter {
  filter: grayscale(100%);
}

.invert-filter {
  filter: invert(70%);
}

.post-img-text {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 
                0 1px var(--background-color), 
                1px 0 var(--background-color), 
                0 -1px var(--background-color);
  z-index: 1;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__content-label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--stroke-color);
      text-stroke: 1px var(--stroke-color);
  }
} 

.post-content {
  display: flex;
  flex-direction: column;
  border-inline: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
  padding: 25px;
  gap: 25px;
}

.post-text {
  line-height: 21px;
}

.post-like-buttons {
  margin-block-start: 2px;
  align-self: end;
  display: flex;
  gap: 6px;
  align-items: center;
}

.content-button {
  position: relative;
  border: 2px solid var(--main-color);
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--background-color);
}

.content-button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.content-button:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.content-button:focus {
  outline: none;
}

.content-button:focus-visible {
  box-shadow: 2px 2px 0px var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  cursor: pointer;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  max-height: 38px;
  position: relative;
  width: 130px;
  padding: 9px 17px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog-opening-button {
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: fit-content;
  font-size: inherit;
}

.floppy {
  width: 21px;
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  max-inline-size: 353px;
  padding: 30px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  z-index: 3;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-floppy {
  display: inline-block;
  width: 39px;
  aspect-ratio: 1/1;
}

.dialog-title {
  display: inline;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-form {
  grid-column: span 2;
}

.dialog-button {
  width: 100%;
  padding: 9px 17px;
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
}

@media (width <= 375px) {

  :root {
    --page-content-width: 100vw;
  }

  .logo-title {
    font-size: clamp(1.875rem, 0.1328rem + 12.5vw, 3.0625rem);
  }

  .floppy {
    width: 28px;
  }

  .dialog-opening-button {
    flex-direction: column;
    width: 306px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }
  
}